/.vscode
/ai_integeration
/bmi_cal
/currencyconverter
/my-app
/my-app-myvite
/my-app-myvite2
/myapp2
/myapp3
/node
/node_modules
/otp_verification_using_firebase
/package-lock.json
/package.json
/password
/reduux2
/redux
/textuils
/themeswitcher
/todo
/tut1.html
/tut69
/tx.txt
/user45